/* styles.css */

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f1f0e9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Heading styles */
h1 {
    font-size: 24px;
    color: #333;
    margin-top: 0;
    text-align: center;
}

/* Form styles */
form {
    margin-top: 20px; 
    text-transform: capitalize;
    font-family: sans-serif;
    margin-right: 200px;
    padding-left: 200px;
}

label {
    font-weight: bold;
    padding-left: 10px;
    text-align: left;
}

input[type="number"] {
    width: 50%;
    padding: 10px;
    padding-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #4b09f4;
    border-color: darkblue;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;

}

/* Result styles */
result {
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    text-decoration: solid;
    text-emphasis-color: blue;

}

/* Link styles */
a {
    color: #007bff;
    text-decoration: none;
    
}

/* Footer styles */
footer {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 0cm;
    margin-top: 10px;
    font-size: 14px;
    color: white;
    background-color: #000000;
}


header {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    color: #000000;
    background-color: aqua;
    
}

p{
    text-align: center;
    font-size: large;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-style: inherit;
    border: #4b09f4;
    background-color: aquamarine;
    border-style: double;
    border-width: 3px;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.flex-parent {
    display: flex;
  }
  
  .jc-center {
    justify-content: center;
  }
  
  button{
    margin-right: 20px;
  }

h1{
    background-color: chartreuse;
    border: #000000;
    border-width: 3px;
}