<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Diabetes Prediction</title>
</head>
<body> 
    <header><h1> Diabetes Prediction</h1></header> 
    
    <form method="POST" action="/predict">
        <label for="pregnancies">Number of Pregnancies:</label>
        <input type="number" name="pregnancies" class="flex-parent jc-center" placeholder="Number of pregnancies" required type="number"><br>

        <label for="glucose">Glucose:</label>
        <input type="number" name="glucose" class="flex-parent jc-center"  placeholder="Your glucose level" required type="number"><br>

        <label for="blood_pressure">Blood Pressure:</label>
        <input type="number" name="blood_pressure" class="flex-parent jc-center" placeholder="Blood pressure" required type="number"><br>

        <label for="skin_thickness">Skin thickness:</label>
        <input type="number" name="skin_thickness" class="flex-parent jc-center" placeholder="Skin thickness" required type="number"><br>

        <label for="insulin">Insulin:</label>
        <input type="number" name="insulin" class="flex-parent jc-center" placeholder="Insulin level" required type="number"><br>

        <label for="bmi">BMI value:</label>
        <input type="number" name="bmi" class="flex-parent jc-center" placeholder="Body Mass Index (BMI) value" required type="number"><br>

        <label for="dpf">Diabetic Pedigree Function:</label>
        <input type="number" name="dpf" class="flex-parent jc-center" placeholder="Diabetic Pedigree Function" required type="number"><br>

        <label for="age">Age:</label>
        <input type="number" name="age" class="flex-parent jc-center" placeholder="Your age" required type="number"><br>

        <div class="flex-parent jc-center">
            <input type="submit" value="Predict">
        </div>
    </form>
    <footer>Created by Sanka Vaas</footer>
</body>
</html>
